<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#angular">angular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#linux">linux</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#github">github</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#mysql">mysql</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="angular">
    <br><h3>
      &nbsp; &nbsp; ng serve --open 
      <small class="text-muted"> &nbsp;&nbsp; run server and open browser</small><br>
      &nbsp; &nbsp; node -v 
      <small class="text-muted"> &nbsp;&nbsp; check server version</small><br>
    </h3>
  </div>
  <div class="tab-pane fade" id="linux">
    <br><h3>
      &nbsp; &nbsp; lsb_release -a
      <small class="text-muted"> &nbsp;&nbsp; the command that calls the version of the distribution used</small><br>
       </h3>
  </div>
  <div class="tab-pane fade" id="github">
    <br><h3>
      &nbsp; &nbsp; git status 
      <small class="text-muted"> &nbsp;&nbsp; check status files with add github</small><br>
      &nbsp; &nbsp; git add . 
      <small class="text-muted"> &nbsp;&nbsp; add all files and folder, changes to be committed </small><br>
      &nbsp; &nbsp; git commit -am "description" 
      <small class="text-muted"> &nbsp;&nbsp; run git committ with description </small><br>
    </h3>
    </div>
    <div class="tab-pane fade" id="mysql">
      <br><h3>
        &nbsp; &nbsp; sudo /opt/lampp/lampp start 
        <small class="text-muted"> &nbsp;&nbsp; start mysql data base</small><br>
        &nbsp; &nbsp; sudo /opt/lampp/lampp stop
        <small class="text-muted"> &nbsp;&nbsp; stop mysql data base </small><br>
         </h3>
      </div>
</div>