<div class="row">
  <div class="row mx-auto mt-3">
    <div class="jumbotron">
        <h2 class="display-4">My site :)</h2>
        <h2>Science is like an immeasurable sea ... The more you drink it, the more thirsty you are. Once you get to know what kind of pleasure it is. Learn only what is strength in you to taste it.</h2>
        <hr class="my-4">
        <h3><p>Stefan Żeromski</p></h3>
        <p class="lead">
          <a class="btn btn-primary btn-lg btn-danger" href="#" role="button">Learn more</a>
        </p>
    </div> 
  </div>
</div>