<br>
<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#control">manual control</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#gpio-header">gpio-header</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#gpio-list">gpio-list</a>
    </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#devices-monitor">devices-monitor</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#serial-monitor">serial-monitor</a>
  </li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="control" >
    <br><h3>
      <iframe height="720px" width="100%" src="http://192.168.1.11:8000/manualControl" style="border:1px solid #D9831F;"></iframe>   
    </h3>    
  </div>
  <div class="tab-pane fade" id="gpio-header">
      <br><h3>
          <iframe height="720px" width="100%" src="http://192.168.1.11:8000/app/gpio-header" style="border:1px solid #D9831F;"></iframe>   
      </h3>
  </div>
  <div class="tab-pane fade" id="gpio-list">
      <br><h3>
          <iframe height="720px" width="100%" src="http://192.168.1.11:8000/gpio-list" style="border:1px solid #D9831F;"></iframe>   
      </h3>
  </div>
  <div class="tab-pane fade" id="devices-monitor">
      <br><h3>
          <iframe height="720px" width="100%" src="http://192.168.1.11:8000/devices-monitor" style="border:1px solid #D9831F;"></iframe>   
      </h3>
  </div>
  <div class="tab-pane fade" id="serial-monitor">
      <br><h3>
          <iframe height="720px" width="100%" src="http://192.168.1.11:8000/serial-monitor" style="border:1px solid #D9831F;"></iframe>   
      </h3>
  </div>
</div>