<br><br>

<div style="center">
  <div class="panel panel-default" *ngIf=partselectronic>
    <div class="panel-body">
        <form class="form-horizontal" >
          <div class="form-group">
            <label for="emp_name" class="col-sm-2 control-label">Electronic Parts Name : </label>
            <div class="col-sm-9" style="max-width: 100%">
              <p class="form-control">{{partselectronic.name}}</p> 
            </div>
          </div>
          <div class="form-group">
            <label for="website" class="col-sm-2 control-label">Website : </label>
            <div class="col-sm-9" style="max-width: 100%">
            <p class="form-control">{{partselectronic.website}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="col-sm-2 control-label">Price : </label>
            <div class="col-sm-9" style="max-width: 100%">
            <p class="form-control">{{partselectronic.price}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="project" class="col-sm-2 control-label">Project : </label>
            <div class="col-sm-9" style="max-width: 100%">
              <p class="form-control">{{partselectronic.project}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="quantity" class="col-sm-2 control-label">Quantity : </label>
            <div class="col-sm-9" style="max-width: 100%">
              <p class="form-control">{{partselectronic.quantity}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="availability" class="col-sm-2 control-label">Availability : </label>
            <div class="col-sm-9" style="max-width: 100%">
              <p class="form-control">{{partselectronic.availability}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Partselectronic's ID : </label>
            <div class="col-sm-9" style="max-width: 100%">
              <p class="form-control">{{partselectronic._id}}</p>
            </div>
          </div>
          <div class="form-group" style="float: right">
            <div class="col-sm-offset-2 col-sm-8">
              <button type="button" class="btn btn-danger btn-lg" (click)="goBack()">Go Back</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>