<div class="row">
  <div class="row mx-auto mt-3">
    <div class="jumbotron" align="center">
        <h2 class="display-3">AGH Project</h2>
        <br>
        <h1> <a class="text-dark" href="#">house<span class="text-danger">Control</span></a></h1>
        <br>
        <p class="lead">The project was created to complete the postgraduate studies in the field of "Programming Web Applications"</p>
        <hr class="my-4">
        <p>This project will be further developed in order to deepen knowledge and used to control the home and garden.
  </p>

    </div>
  </div>
</div>