<div class="row mt-3">
  <div class="jumbotron">
      <h1 class="display-3">AGH Project</h1>
      <p class="lead">The project was created to complete the postgraduate studies in the field of "Programming Web Applications"</p>
      <hr class="my-4">
      <p>This project will be further developed in order to deepen knowledge and used to control the home and garden.
</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg btn-danger" href="#" role="button">Learn more</a>
      </p>
  </div>
</div>